*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: auto;
    padding-top: 15px;

   }
   #header{
    min-height: 150px;
    margin: 0 15px 15px;
    background-color: green;
    }
   #navigation{
    min-height: 300px;
    width: 200px;
    margin-left: 15px;
    margin-right: 7.5px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;

   }
   #main_content{
    min-height: 400px;
    width: 700px;
    margin: 0 15px 15px 7.5px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    margin: 15px 0px 15px 15px ;
    background-color: yellow;
    display: inline-block;

   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    display: inline-block;
    margin: 20px;
   }